@font-face{
    font-family: "AppleGaramond";
    src: url('../font/AppleGaramond-Light.ttf');
}

@font-face{
    font-family: "Cursif";
    src: url('../font/Cursif.ttf');
}

.n2 h2{
    color: rgba(12, 12, 12, 0.808); 
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 50px;
    font-family: "Cursif";
    text-shadow: 0 0 15px rgb(236, 153, 29);
}

.n2 a{
    text-decoration: none;
    color: beige;
    padding: 10px 20px;
    background-color: brown;
}
.slide1{
    margin-top: 42px;
    width: 100%;
    height: 550px;
    background-color: black;
    color: white;
    display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.bj{
   padding: 50px 0px;
  
}

.cen{
    width: 50%;
    margin: auto;
    text-align: center;
}
.cen h1{
    font-family: "AppleGaramond";
    color:  rgb(66, 31, 10);
}
.comp{
    display: flex;
    flex-direction: row;
}
.comp div {
    width: 33.33%;
    
}
.formu{
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('../images/bg_piza.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    padding: 30px;
}
.comp div label{
    font-family: "AppleGaramond";
    line-height: 1.5;
    color: rgb(236, 153, 29);
    font-size: 25px;
}
.comp div input {
    width: 80%;
    font-size: 20px;
    font-family: "AppleGaramond";
    padding: 5px 10px;
    border:none;
    background-color: rgba(128, 128, 128, 0.527);
}
.comp div input:hover{
    
}
.formu div{
    width: 100%;
}
.comp1{
    display: flex;
    flex-direction: row;
}
.comp1 div select{
    width: 100%;
    height: 100px;
}
.cc2-2 .a textarea{
    width: 100%;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    font-family: "AppleGaramond";
    font-size: 20px;
    color: beige;
}
@media(max-width:800px){
    .cen h1{
        text-align: left;
        font-size: 20px;
    }
    .cen{
        width: 90%;
    }
}
